In [668]:
import pandas as pd

In [670]:
df = pd.read_csv("580SurveyCleanup2.csv")

In [672]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Q12.1,Q12.2,Q12.3,Q12.4,Q13,Q13.1,Q14,Q14.1,Q14.2,Q13.2
0,No.,Time,Status,Duration (Seconds),Access Code,Email Address,IP Address,Country,Region,City / Town / District,...,Some familiarity,Average user,Frequent use for projects,Fluent/expert,Yes,No,Yes,No,Not sure,What is your goal for learning about data anal...
1,1,10/3/2023 17:49,Completed,11646,NaN,NaN,100.36.167.226,United States,Virginia,Fairfax,...,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN
2,2,10/3/2023 17:49,Completed,113,NaN,NaN,98.169.26.134,United States,Virginia,Fairfax,...,NaN,NaN,NaN,NaN,1,NaN,NaN,1,NaN,NaN
3,3,10/3/2023 17:49,Completed,572,NaN,NaN,98.169.52.23,United States,Virginia,Greenway Downs,...,NaN,1,NaN,NaN,NaN,1,NaN,NaN,1,"As part of my work, I have access to a lot of ..."
4,4,10/3/2023 17:50,Completed,365,NaN,NaN,69.255.182.253,United States,Virginia,Gainesville,...,1,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN

In [674]:
data = df.iloc[:,1:12]
qns = df.iloc[:, 12::]

In [676]:
data.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Time,Status,Duration (Seconds),Access Code,Email Address,IP Address,Country,Region,City / Town / District,Latitude,Longitude
1,10/3/2023 17:49,Completed,11646,NaN,NaN,100.36.167.226,United States,Virginia,Fairfax,-77.2891,38.8209
2,10/3/2023 17:49,Completed,113,NaN,NaN,98.169.26.134,United States,Virginia,Fairfax,-77.263,38.8605
3,10/3/2023 17:49,Completed,572,NaN,NaN,98.169.52.23,United States,Virginia,Greenway Downs,-77.2331,38.9645
4,10/3/2023 17:50,Completed,365,NaN,NaN,69.255.182.253,United States,Virginia,Gainesville,-77.6308,38.8175

In [678]:
data.columns = data.iloc[0]
data = data.iloc[1:]

In [679]:
qns.head()

,Q1,Q1.1,Q2,Q2.1,Q2.2,Q2.3,Q3,Q4,Q5,Q6,...,Q12.1,Q12.2,Q12.3,Q12.4,Q13,Q13.1,Q14,Q14.1,Q14.2,Q13.2
0,2.0,4.0,Male,Female,NonBinary,Prefer not to answer,Age (years),Height (Inches),Country of Citizenship,Undergraduate Degree,...,Some familiarity,Average user,Frequent use for projects,Fluent/expert,Yes,No,Yes,No,Not sure,What is your goal for learning about data anal...
1,NaN,1.0,NaN,1,NaN,NaN,23,63,Taiwan,economics,...,1,NaN,NaN,NaN,1,NaN,1,NaN,NaN,NaN
2,1.0,NaN,NaN,1,NaN,NaN,24,59,India,Finance,...,NaN,NaN,NaN,NaN,1,NaN,NaN,1,NaN,NaN
3,1.0,NaN,1,NaN,NaN,NaN,40,70,India,Computer Applications,...,NaN,1,NaN,NaN,NaN,1,NaN,NaN,1,"As part of my work, I have access to a lot of ..."
4,1.0,NaN,NaN,NaN,NaN,1,26,66,South Korea,Business Management,...,1,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN

In [682]:
q1 = qns.iloc[:,[0,1]]
q1.columns = q1.iloc[0].astype(str)
q1 = q1[1:]
q1 = q1.replace(1, pd.Series(q1.columns, q1.columns)).fillna('')
q1 = pd.DataFrame(q1.iloc[:,0] + q1.iloc[:,1])
q1.columns = ['Q1']

q1.head()

    Q1
1  4.0
2  2.0
3  2.0
4  2.0
5  2.0

In [684]:
q2 = qns.iloc[:,[2,3,4,5]]
q2.columns = q2.iloc[0].astype(str)
q2 = q2.iloc[1:]

for i in q2.columns:
    q2[i] = q2[i].replace('1', i).fillna('')

q2 = pd.DataFrame(q2.iloc[:,0] + q2.iloc[:,1] + q2.iloc[:,2] + q2.iloc[:,3])
q2.columns = ['Q2']

q2.head()

                     Q2
1                Female
2                Female
3                  Male
4  Prefer not to answer
5                  Male

In [686]:
q3_7 = qns.iloc[:,[6,7,8,9,10]]
q3_7 = q3_7[1:]

q3_7.head()

   Q3  Q4           Q5                     Q6          Q7
1  23  63       Taiwan              economics  12/31/2021
2  24  59        India               Finance     5/1/2021
3  40  70        India  Computer Applications    6/1/2022
4  26  66  South Korea    Business Management  12/31/2021
5  30  70           US                    Yes    1/1/2021

In [688]:
# getting q8 columns
q8 = qns.iloc[:, [11,12,13,14]]
q8.columns = q8.iloc[0].astype(str)
q8 = q8[1:]

for i in q8.columns:
    q8[i] = q8[i].replace(['0', '1', '2'], i).fillna('')

q8 = pd.DataFrame(q8.iloc[:,0] + q8.iloc[:,1] + q8.iloc[:,2] + q8.iloc[:,3])
q8.columns = ['Q8']

q8.head()

                  Q8
1      Apple/MacBook
2      Apple/MacBook
3      Apple/MacBook
4  Microsoft/Windows
5      Apple/MacBook

In [690]:
# getting q9
q9 = qns.iloc[:, [15,16,17]]
q9.columns = q9.iloc[0].astype(str)
q9 = q9[1:]

for i in q9.columns:
    if i == 'Yes, Full Time':
        q9[i] = q9[i].replace('1', 'Working Full Time').fillna('')
    else:
        q9[i] = q9[i].replace(['0', '1', '2'], 'Working Part Time' if i == 'Working, but not Full Time' else 'Not Working').fillna('')

q9 = pd.DataFrame(q9.iloc[:,0] + q9.iloc[:,1] + q9.iloc[:,2])
q9.columns = ['Q9']

q9.head()

                  Q9
1        Not Working
2  Working Part Time
3  Working Full Time
4        Not Working
5  Working Full Time

In [692]:
#Q10
q10 = qns.iloc[:, [18,19,20,21,22]]
q10.columns = q10.iloc[0].astype(str)
q10 = q10[1:]

for i in q10.columns:
    q10[i] = q10[i].replace('1', i).fillna('')
q10 = pd.DataFrame(q10.iloc[:,0] + q10.iloc[:,1] + q10.iloc[:,2] + q10.iloc[:,3] + q10.iloc[:,4])
q10.columns = ['Q10']

q10.head()

                Q10
1  Some familiarity
2      Average user
3  Some familiarity
4      Average user
5  Some familiarity

In [694]:
# Q11
q11 = qns.iloc[:, [23,24,25,26,27]]
q11.columns = q11.iloc[0].astype(str)
q11 = q11[1:]

for i in q11.columns:
    q11[i] = q11[i].replace('1', i).fillna('')

q11 = pd.DataFrame(q11.iloc[:,0] + q11.iloc[:,1] + q11.iloc[:,2] + q11.iloc[:,3] + q11.iloc[:,4])
q11.columns = ['Q11']

q11.head()

                         Q11
1                Little/none
2               Average user
3                Little/none
4  Frequent use for projects
5           Some familiarity

In [696]:
# Q12
q12 = qns.iloc[:, [28,29,30,31,32]]
q12.columns = q12.iloc[0].astype(str)
q12 = q12[1:]

for i in q12.columns:
    q12[i] = q12[i].replace('1', i).fillna('')

q12 = pd.DataFrame(q12.iloc[:,0] + q12.iloc[:,1] + q12.iloc[:,2] + q12.iloc[:,3] + q12.iloc[:,4])
q12.columns = ['Q12']

q12.head()

                Q12
1  Some familiarity
2       Little/none
3      Average user
4  Some familiarity
5      Average user

In [698]:
# Q13 
q13 = qns.iloc[:, [33,34]]
q13.columns = q13.iloc[0].astype(str)
q13 = q13[1:]

for i in q13.columns:
    q13[i] = q13[i].replace('1', i).fillna('')

q13 = pd.DataFrame(q13.iloc[:,0] + q13.iloc[:,1])
q13.columns = ['Q13']

q13.head()

   Q13
1  Yes
2  Yes
3   No
4   No
5   No

In [700]:
# Q14 
q14 = qns.iloc[:, [35,36,37]]
q14.columns = q14.iloc[0].astype(str)
q14 = q14[1:]

for i in q14.columns:
    q14[i] = q14[i].replace('1', i).fillna('')

q14 = pd.DataFrame(q14.iloc[:,0] + q14.iloc[:,1] + q14.iloc[:,2])
q14.columns = ['Q14']

q14.head()

        Q14
1       Yes
2        No
3  Not sure
4       Yes
5       Yes

In [702]:
q15 = qns.iloc[:, [38]]
q15.columns = ['Q15']
q15 = q15[1:].fillna('Empty')
q15.head()

                                                 Q15
1                                              Empty
2                                              Empty
3  As part of my work, I have access to a lot of ...
4                                              Empty
5                                              Learn

In [704]:
total = pd.concat([data,q1,q2,q3_7,q8,q9,q10,q11,q12,q13,q14,q15],axis=1)

total.to_csv('formatted_580SurveyCleanupFinal.csv', index = False)

total.head()

,Time,Status,Duration (Seconds),Access Code,Email Address,IP Address,Country,Region,City / Town / District,Latitude,...,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15
1,10/3/2023 17:49,Completed,11646,NaN,NaN,100.36.167.226,United States,Virginia,Fairfax,-77.2891,...,economics,12/31/2021,Apple/MacBook,Not Working,Some familiarity,Little/none,Some familiarity,Yes,Yes,Empty
2,10/3/2023 17:49,Completed,113,NaN,NaN,98.169.26.134,United States,Virginia,Fairfax,-77.263,...,Finance,5/1/2021,Apple/MacBook,Working Part Time,Average user,Average user,Little/none,Yes,No,Empty
3,10/3/2023 17:49,Completed,572,NaN,NaN,98.169.52.23,United States,Virginia,Greenway Downs,-77.2331,...,Computer Applications,6/1/2022,Apple/MacBook,Working Full Time,Some familiarity,Little/none,Average user,No,Not sure,"As part of my work, I have access to a lot of ..."
4,10/3/2023 17:50,Completed,365,NaN,NaN,69.255.182.253,United States,Virginia,Gainesville,-77.6308,...,Business Management,12/31/2021,Microsoft/Windows,Not Working,Average user,Frequent use for projects,Some familiarity,No,Yes,Empty
5,10/3/2023 17:51,Completed,92,NaN,NaN,138.88.108.230,United States,NaN,NaN,-97.822,...,Yes,1/1/2021,Apple/MacBook,Working Full Time,Some familiarity,Some familiarity,Average user,No,Yes,Learn

## Part 2

In [707]:
f_dataframe = pd.read_csv('formatted_580SurveyCleanupFinal.csv')
f_dataframe.isnull().sum()

Time                       0
Status                     0
Duration (Seconds)         0
Access Code               36
Email Address             36
IP Address                 0
Country                    0
Region                     4
City / Town / District     5
Latitude                   0
Longitude                  0
Q1                         0
Q2                         0
Q3                         0
Q4                         1
Q5                         2
Q6                         2
Q7                         3
Q8                         3
Q9                         3
Q10                        3
Q11                        3
Q12                        3
Q13                        0
Q14                        0
Q15                        0
dtype: int64

In [709]:
pd.set_option('mode.chained_assignment',  None)

In [711]:
#Dropping columns that have empty values
f_dataframe = f_dataframe.drop(['Access Code', 'Email Address'], axis=1)

In [713]:
#Fixing Q3 and using mode or the most frequently occurring value to fill in missing values
f_dataframe['Q3'] = f_dataframe['Q3'].str.replace(' ', '')
f_dataframe['Q3'] = f_dataframe['Q3'].replace('1993', '28')
f_dataframe['Q3'].fillna(f_dataframe['Q3'].mode()[0],inplace=True)

#f_dataframe.loc[:,'Q3']

C:\Users\ryash\AppData\Local\Temp\ipykernel_22324\2195528968.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  f_dataframe['Q3'].fillna(f_dataframe['Q3'].mode()[0],inplace=True)

In [715]:
#Using mode or the most frequently occurring value to fill in missing values
f_dataframe['Region'] = f_dataframe['Region'].fillna(f_dataframe['Region'].mode()[0])
f_dataframe['City / Town / District'] = f_dataframe['City / Town / District'].fillna(f_dataframe['City / Town / District'].mode()[0])

In [717]:
#Replacing incorrect values of Q4: Height
f_dataframe['Q4'] = f_dataframe['Q4'].replace({'7O':'70', '6l':'61', '5.2':'52'})

#Missing Value of Q4 HEight
f_dataframe['Q4'] = pd.to_numeric(f_dataframe['Q4'], errors='coerce')
f_dataframe['Q4'] = f_dataframe['Q4'].fillna(f_dataframe['Q4'].mean())

#f_dataframe.loc[:,'Q4']

In [719]:
f_dataframe['Q6'] = f_dataframe['Q6'].str.title().str.strip().replace({
    'Bachelor of engineering ': 'Engineering',
    'Engineering ': 'Engineering',
    'Cse': 'Computer Science and Engineering',
    'Computer science engineering ': 'Computer Science and Engineering',
    'Computer engineering': 'Computer Science and Engineering',
    'B.Tech In Cs': 'Computer Science',
    'Criminology law and soci': 'Criminology law and social sciences',
    'Ece': 'Electrical and Computer Engineering',
    'Economic': 'Economics',
    'Bit': 'Business in Technology',
    'Yes': None,
})

f_dataframe['Q6'].fillna(f_dataframe['Q6'].mode()[0],inplace=True)
#f_dataframe.head()

C:\Users\ryash\AppData\Local\Temp\ipykernel_22324\1450835622.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  f_dataframe['Q6'].fillna(f_dataframe['Q6'].mode()[0],inplace=True)

In [748]:
f_dataframe['Q8'] = f_dataframe['Q8'].replace('Microsoft/Windows', 'Windows')
f_dataframe['Q8'] = f_dataframe['Q8'].replace('Apple/MacBook', 'Macbook')
f_dataframe['Q8'] = f_dataframe['Q8'].replace('Microsoft/WindowsApple/MacBook', 'Both')
f_dataframe['Q8'] = f_dataframe['Q8'].replace('OtherAcer/Windows', 'Windows')

f_dataframe['Q15'] = f_dataframe['Q15'].replace('Empty', 'Not Responded')

f_dataframe.head()

,Time,Status,Duration (Seconds),IP Address,Country,Region,City / Town / District,Latitude,Longitude,Q1,...,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15
0,10/3/2023 17:49,Completed,11646,100.36.167.226,United States,Virginia,Fairfax,-77.2891,38.8209,4.0,...,Economics,12/31/2021,Macbook,Not Working,Some familiarity,Little/none,Some familiarity,Yes,Yes,Not Responded
1,10/3/2023 17:49,Completed,113,98.169.26.134,United States,Virginia,Fairfax,-77.2630,38.8605,2.0,...,Finance,5/1/2021,Macbook,Working Part Time,Average user,Average user,Little/none,Yes,No,Not Responded
2,10/3/2023 17:49,Completed,572,98.169.52.23,United States,Virginia,Greenway Downs,-77.2331,38.9645,2.0,...,Computer Applications,6/1/2022,Macbook,Working Full Time,Some familiarity,Little/none,Average user,No,Not sure,"As part of my work, I have access to a lot of ..."
3,10/3/2023 17:50,Completed,365,69.255.182.253,United States,Virginia,Gainesville,-77.6308,38.8175,2.0,...,Business Management,12/31/2021,Windows,Not Working,Average user,Frequent use for projects,Some familiarity,No,Yes,Not Responded
4,10/3/2023 17:51,Completed,92,138.88.108.230,United States,Virginia,Fairfax,-97.8220,37.7510,2.0,...,Economics,1/1/2021,Macbook,Working Full Time,Some familiarity,Some familiarity,Average user,No,Yes,Learn

In [737]:
f_dataframe['Q5'] = f_dataframe['Q5'].str.strip()
f_dataframe['Q5'] = f_dataframe['Q5'].str.title()
f_dataframe['Q5'] = f_dataframe['Q5'].replace(['Usa', 'United states', 'United states ', 'Us'], 'United States')
f_dataframe['Q5'] = f_dataframe['Q5'].replace(['United States ; Pakistan'], 'United States and Pakistan')

#Not filling Missing Values as it will make the data significantly inaccurate. A good approximation can be using mode but based on the town/region.

f_dataframe.loc[:,'Q5']

0                         Taiwan
1                          India
2                          India
3                    South Korea
4                  United States
5                            NaN
6                       Pakistan
7                            NaN
8                          China
9                     Uzbekistan
10                 United States
11                         India
12                       Romania
13                         India
14                         China
15                    Uzbekistan
16                 United States
17                         India
18                      Ethiopia
19                 United States
20                 United States
21                         India
22                 United States
23                       Nigeria
24                 United States
25                        Taiwan
26                         India
27                       Nigeria
28                         India
29                         India
30                 United States
31                         India
32    United States And Pakistan
33                 United States
34                       Vietnam
35                    Uzbekistan
Name: Q5, dtype: object

In [761]:
#Filling the rest of the columns with string

string_columns = ['Q7','Q8','Q9','Q10','Q11','Q12']

for i in string_columns:
    f_dataframe[i].fillna('Not responded', inplace=True)

f_dataframe

C:\Users\ryash\AppData\Local\Temp\ipykernel_22324\846631544.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  f_dataframe[i].fillna('Not responded', inplace=True)

,Time,Status,Duration (Seconds),IP Address,Country,Region,City / Town / District,Latitude,Longitude,Q1,...,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15
0,10/3/2023 17:49,Completed,11646,100.36.167.226,United States,Virginia,Fairfax,-77.2891,38.8209,4.0,...,Economics,12/31/2021,Macbook,Not Working,Some familiarity,Little/none,Some familiarity,Yes,Yes,Not Responded
1,10/3/2023 17:49,Completed,113,98.169.26.134,United States,Virginia,Fairfax,-77.2630,38.8605,2.0,...,Finance,5/1/2021,Macbook,Working Part Time,Average user,Average user,Little/none,Yes,No,Not Responded
2,10/3/2023 17:49,Completed,572,98.169.52.23,United States,Virginia,Greenway Downs,-77.2331,38.9645,2.0,...,Computer Applications,6/1/2022,Macbook,Working Full Time,Some familiarity,Little/none,Average user,No,Not sure,"As part of my work, I have access to a lot of ..."
3,10/3/2023 17:50,Completed,365,69.255.182.253,United States,Virginia,Gainesville,-77.6308,38.8175,2.0,...,Business Management,12/31/2021,Windows,Not Working,Average user,Frequent use for projects,Some familiarity,No,Yes,Not Responded
4,10/3/2023 17:51,Completed,92,138.88.108.230,United States,Virginia,Fairfax,-97.8220,37.7510,2.0,...,Economics,1/1/2021,Macbook,Working Full Time,Some familiarity,Some familiarity,Average user,No,Yes,Learn
5,10/3/2023 17:59,Incomplete,221,108.56.134.80,United States,Virginia,Reston,-77.3489,38.9311,2.0,...,Economics,Not responded,Not responded,Not responded,Not responded,Not responded,Not responded,Yes,No,Not Responded
6,10/3/2023 18:23,Completed,115983,108.48.175.220,United States,Virginia,Arlington,-77.0987,38.8600,2.0,...,Finance,7/15/2022,Windows,Working Part Time,Average user,Average user,Average user,No,No,To deduce meaningful interpretation for Financ...
7,10/3/2023 19:10,Incomplete,40,173.67.199.85,United States,Virginia,Ashburn,-77.5390,39.0180,2.0,...,Economics,Not responded,Not responded,Not responded,Not responded,Not responded,Not responded,Yes,No,Not Responded
8,10/3/2023 19:25,Completed,137,74.96.114.12,United States,Virginia,Woodbridge,-77.3197,38.6780,2.0,...,Economics,12/15/2021,Windows,Working Full Time,Some familiarity,Frequent use for projects,Average user,Yes,No,Not Responded
9,10/3/2023 19:56,Incomplete,179,107.77.241.32,United States,Texas,Fairfax,-96.8217,32.7787,4.0,...,Economics With Finance,Not responded,Not responded,Not responded,Not responded,Not responded,Not responded,No,No,Not Responded
10,10/3/2023 20:14,Completed,127,138.88.182.245,United States,Maryland,Takoma Park,-77.0040,38.9827,2.0,...,Business in Technology,5/1/2022,Windows,Not Working,Little/none,Little/none,Some familiarity,No,No,To see if it is a field I am interested in pur...
11,10/3/2023 21:38,Completed,269,72.83.246.60,United States,Virginia,Fairfax,-77.2630,38.8605,4.0,...,Computer Engineering,5/31/2021,Windows,Not Working,Frequent use for projects,Average user,Frequent use for projects,No,Yes,To learn and explore cutting edge data technol...
12,10/3/2023 21:41,Completed,117,96.241.43.105,United States,Virginia,Chantilly,-77.4512,38.9036,2.0,...,Biology,8/26/2021,Macbook,Working Part Time,Some familiarity,Average user,Average user,No,Yes,Learn to select the appropriate tools to condu...
13,10/3/2023 22:49,Completed,5966,71.191.72.223,United States,Virginia,Burke,-77.2866,38.7851,2.0,...,Computer Science and Engineering,12/25/2021,Windows,Not Working,Average user,Average user,Average user,No,Yes,Not Responded
14,10/3/2023 23:25,Completed,254,73.134.53.227,United States,Maryland,Hyattsville,-76.8696,38.9544,4.0,...,Management,12/31/2021,Windows,Not Working,Average user,Little/none,Little/none,No,Yes,improve my skills
15,10/4/2023 0:28,Completed,526,73.86.219.52,United States,Maryland,Baltimore,-76.6355,39.3555,4.0,...,Economics With Finance,5/1/2022,Windows,Not Working,Some familiarity,Some familiarity,Some familiarity,No,Yes,My professional goal is to become a Financial ...
16,10/4/2023 5:22,Completed,398,69.138.215.127,United States,Virginia,Arlington,-77.1130,38.8747,2.0,...,Economics,5/31/2022,Both,Working Full Time,Average user,Some familiarity,Some familiarity,No,Yes,able to compliment my Computational Social Sci...
17,10/4/2023 5:36,Completed,128253,72.196.231.70,United States,Virginia,Springfield,-77.2333,38.7438,2.0,...,Engineering,1/12/2021,Windows,Not Working,Frequent use for projects,Frequent use for projects,Average user,No,Yes,To start a company
18,10/4/2023 5:47,Completed,239,100.15.54.17,United States,Virginia,Woodbridge,-77.3197,38.6780,4.0,...,Accounting And Isom,12/20/2021,Windows,Not Working,Little/none,Little/none,Average user,No,Yes,To be able understand and manipulate data to m...
19,10/4/2023 10:32,Completed,255,184.170.83.239,United States,Virginia,Rustburg,-79.0985,37.2544,4.0,...,Statistics,12/20/2021,Macbook,Working Part Time,Some familiarity,Fluent/expert,Average user,No,Not sure,My ultimate goal is to get a job as a sports a...
20,10/4/2023 11:03,Completed,256,100.36.243.102,United States,Virginia,Fairfax,-77.3375,38.8357,4.0,...,Computer Science,5/1/2022,Windows,Working Full Time,Some familiarity,Some familiarity,Some familiarity,No,Not sure,To understand how to properly interpret and di...
21,10/4/2023 12:34,Completed,674,108.56.134.80,United States,Virginia,Reston,-77.3489,38.9311,2.0,...,Computer Science,4/16/2022,Windows,Not Working,Some familiarity,Little/none,Average user,No,Not sure,"After graduating data analytics, I want myself..."
22,10/4/2023 13:36,Completed,130,73.163.163.82,United States,Maryland,Baltimore,-76.5570,39.2784,4.0,...,Mathematics & Statistics,12/18/2021,Both,Working Part Time,Some familiarity,Frequent use for projects,Little/none,Yes,Not sure,Learning how to appropriately handle large qua...
23,10/4/2023 13:50,Completed,275,138.88.223.87,United States,Virginia,Fairfax,-97.8220,37.7510,4.0,...,Economics,5/14/2021,Windows,Not Working,Little/none,Little/none,Little/none,Yes,Not sure,To learn and understand the fundamentals and m...
24,10/4/2023 21:28,Completed,325,100.36.50.114,United States,Virginia,Fairfax,-97.8220,37.7510,4.0,...,Systems Engineering,12/19/2022,Windows,Working Full Time,Average user,Average user,Average user,Yes,Not sure,The goal is to learn as many programming/stati...
25,10/5/2023 9:37,Completed,257,108.51.59.195,United States,Virginia,Burke,-77.2866,38.7851,2.0,...,Civil Engineering,5/30/2021,Windows,Working Full Time,Average user,Some familiarity,Some familiarity,No,Not sure,Learning analytics tool and being good at them
26,10/5/2023 9:36,Completed,657,72.83.246.219,United States,Virginia,Fairfax,-77.2630,38.8605,2.0,...,Electrical and Computer Engineering,12/11/2021,Macbook,Not Working,Average user,Frequent use for projects,Average user,No,Yes,I want to be as a data analyst
27,10/5/2023 10:36,Completed,1750,100.36.118.186,United States,Virginia,Burke,-77.2866,38.7851,4.0,...,Quantity Surveying,5/24/2023,Windows,Not Working,Average user,Frequent use for projects,Average user,Yes,Yes,It is very relevant to my PhD research area an...
28,10/5/2023 11:02,Completed,887,172.58.187.98,United States,Maryland,Baltimore,-76.6949,39.2820,4.0,...,Bachelor Of Engineering,12/30/2021,Windows,Not Working,Average user,Average user,Average user,Yes,Yes,Learn how to handle large amount structured an...
29,10/5/2023 11:17,Completed,180,72.196.230.201,United States,Virginia,Springfield,-77.2333,38.7438,2.0,...,Computer Science,12/15/2021,Macbook,Not Working,Average user,Average user,Frequent use for projects,Yes,Yes,To become a good Data Analyst and work for top...
30,10/5/2023 12:52,Completed,392,108.18.111.204,United States,Virginia,Lorton,-77.2060,38.6911,4.0,...,Bs Accounting,5/1/2021,Windows,Working Full Time,Little/none,Some familiarity,Some familiarity,Yes,Yes,Get a better understanding of the granularity ...
31,10/5/2023 12:56,Incomplete,192,71.191.72.223,United States,Virginia,Burke,-77.2866,38.7851,2.0,...,Bachelor Of Engineering,12/21/2021,Both,Not Working,Average user,Frequent use for projects,Frequent use for projects,No,Yes,Not Responded
32,10/5/2023 13:52,Completed,277,184.191.72.8,United States,Virginia,Falls Church,-77.1425,38.8472,2.0,...,Criminology Law And Soci,12/18/2021,Windows,Working Full Time,Average user,Some familiarity,Some familiarity,No,No,Learn how data analytics works
33,10/5/2023 15:34,Completed,119,141.156.160.243,United States,Virginia,Fairfax,-97.8220,37.7510,4.0,...,Economics,5/15/2022,Windows,Working Full Time,Average user,Average user,Average user,No,No,Advance my career in data science
34,10/5/2023 15:41,Completed,149,71.206.51.121,United States,Maryland,Frederick,-77.2758,39.4624,2.0,...,Finance,12/12/2022,Windows,Not Working,Some familiarity,Some familiarity,Some familiarity,No,Not sure,Getting a good job
35,10/5/2023 17:58,Completed,285,129.174.252.234,United States,Virginia,Fairfax,-77.3375,38.8357,4.0,...,Psychology,12/20/2021,Windows,Working Full Time,Some familiarity,Little/none,Little/none,No,Not sure,to use the skills at work.

In [763]:
f_dataframe.to_csv('cleaned_580SurveyCleanupFinal.csv', index = False)

f_dataframe

,Time,Status,Duration (Seconds),IP Address,Country,Region,City / Town / District,Latitude,Longitude,Q1,...,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15
0,10/3/2023 17:49,Completed,11646,100.36.167.226,United States,Virginia,Fairfax,-77.2891,38.8209,4.0,...,Economics,12/31/2021,Macbook,Not Working,Some familiarity,Little/none,Some familiarity,Yes,Yes,Not Responded
1,10/3/2023 17:49,Completed,113,98.169.26.134,United States,Virginia,Fairfax,-77.2630,38.8605,2.0,...,Finance,5/1/2021,Macbook,Working Part Time,Average user,Average user,Little/none,Yes,No,Not Responded
2,10/3/2023 17:49,Completed,572,98.169.52.23,United States,Virginia,Greenway Downs,-77.2331,38.9645,2.0,...,Computer Applications,6/1/2022,Macbook,Working Full Time,Some familiarity,Little/none,Average user,No,Not sure,"As part of my work, I have access to a lot of ..."
3,10/3/2023 17:50,Completed,365,69.255.182.253,United States,Virginia,Gainesville,-77.6308,38.8175,2.0,...,Business Management,12/31/2021,Windows,Not Working,Average user,Frequent use for projects,Some familiarity,No,Yes,Not Responded
4,10/3/2023 17:51,Completed,92,138.88.108.230,United States,Virginia,Fairfax,-97.8220,37.7510,2.0,...,Economics,1/1/2021,Macbook,Working Full Time,Some familiarity,Some familiarity,Average user,No,Yes,Learn
5,10/3/2023 17:59,Incomplete,221,108.56.134.80,United States,Virginia,Reston,-77.3489,38.9311,2.0,...,Economics,Not responded,Not responded,Not responded,Not responded,Not responded,Not responded,Yes,No,Not Responded
6,10/3/2023 18:23,Completed,115983,108.48.175.220,United States,Virginia,Arlington,-77.0987,38.8600,2.0,...,Finance,7/15/2022,Windows,Working Part Time,Average user,Average user,Average user,No,No,To deduce meaningful interpretation for Financ...
7,10/3/2023 19:10,Incomplete,40,173.67.199.85,United States,Virginia,Ashburn,-77.5390,39.0180,2.0,...,Economics,Not responded,Not responded,Not responded,Not responded,Not responded,Not responded,Yes,No,Not Responded
8,10/3/2023 19:25,Completed,137,74.96.114.12,United States,Virginia,Woodbridge,-77.3197,38.6780,2.0,...,Economics,12/15/2021,Windows,Working Full Time,Some familiarity,Frequent use for projects,Average user,Yes,No,Not Responded
9,10/3/2023 19:56,Incomplete,179,107.77.241.32,United States,Texas,Fairfax,-96.8217,32.7787,4.0,...,Economics With Finance,Not responded,Not responded,Not responded,Not responded,Not responded,Not responded,No,No,Not Responded
10,10/3/2023 20:14,Completed,127,138.88.182.245,United States,Maryland,Takoma Park,-77.0040,38.9827,2.0,...,Business in Technology,5/1/2022,Windows,Not Working,Little/none,Little/none,Some familiarity,No,No,To see if it is a field I am interested in pur...
11,10/3/2023 21:38,Completed,269,72.83.246.60,United States,Virginia,Fairfax,-77.2630,38.8605,4.0,...,Computer Engineering,5/31/2021,Windows,Not Working,Frequent use for projects,Average user,Frequent use for projects,No,Yes,To learn and explore cutting edge data technol...
12,10/3/2023 21:41,Completed,117,96.241.43.105,United States,Virginia,Chantilly,-77.4512,38.9036,2.0,...,Biology,8/26/2021,Macbook,Working Part Time,Some familiarity,Average user,Average user,No,Yes,Learn to select the appropriate tools to condu...
13,10/3/2023 22:49,Completed,5966,71.191.72.223,United States,Virginia,Burke,-77.2866,38.7851,2.0,...,Computer Science and Engineering,12/25/2021,Windows,Not Working,Average user,Average user,Average user,No,Yes,Not Responded
14,10/3/2023 23:25,Completed,254,73.134.53.227,United States,Maryland,Hyattsville,-76.8696,38.9544,4.0,...,Management,12/31/2021,Windows,Not Working,Average user,Little/none,Little/none,No,Yes,improve my skills
15,10/4/2023 0:28,Completed,526,73.86.219.52,United States,Maryland,Baltimore,-76.6355,39.3555,4.0,...,Economics With Finance,5/1/2022,Windows,Not Working,Some familiarity,Some familiarity,Some familiarity,No,Yes,My professional goal is to become a Financial ...
16,10/4/2023 5:22,Completed,398,69.138.215.127,United States,Virginia,Arlington,-77.1130,38.8747,2.0,...,Economics,5/31/2022,Both,Working Full Time,Average user,Some familiarity,Some familiarity,No,Yes,able to compliment my Computational Social Sci...
17,10/4/2023 5:36,Completed,128253,72.196.231.70,United States,Virginia,Springfield,-77.2333,38.7438,2.0,...,Engineering,1/12/2021,Windows,Not Working,Frequent use for projects,Frequent use for projects,Average user,No,Yes,To start a company
18,10/4/2023 5:47,Completed,239,100.15.54.17,United States,Virginia,Woodbridge,-77.3197,38.6780,4.0,...,Accounting And Isom,12/20/2021,Windows,Not Working,Little/none,Little/none,Average user,No,Yes,To be able understand and manipulate data to m...
19,10/4/2023 10:32,Completed,255,184.170.83.239,United States,Virginia,Rustburg,-79.0985,37.2544,4.0,...,Statistics,12/20/2021,Macbook,Working Part Time,Some familiarity,Fluent/expert,Average user,No,Not sure,My ultimate goal is to get a job as a sports a...
20,10/4/2023 11:03,Completed,256,100.36.243.102,United States,Virginia,Fairfax,-77.3375,38.8357,4.0,...,Computer Science,5/1/2022,Windows,Working Full Time,Some familiarity,Some familiarity,Some familiarity,No,Not sure,To understand how to properly interpret and di...
21,10/4/2023 12:34,Completed,674,108.56.134.80,United States,Virginia,Reston,-77.3489,38.9311,2.0,...,Computer Science,4/16/2022,Windows,Not Working,Some familiarity,Little/none,Average user,No,Not sure,"After graduating data analytics, I want myself..."
22,10/4/2023 13:36,Completed,130,73.163.163.82,United States,Maryland,Baltimore,-76.5570,39.2784,4.0,...,Mathematics & Statistics,12/18/2021,Both,Working Part Time,Some familiarity,Frequent use for projects,Little/none,Yes,Not sure,Learning how to appropriately handle large qua...
23,10/4/2023 13:50,Completed,275,138.88.223.87,United States,Virginia,Fairfax,-97.8220,37.7510,4.0,...,Economics,5/14/2021,Windows,Not Working,Little/none,Little/none,Little/none,Yes,Not sure,To learn and understand the fundamentals and m...
24,10/4/2023 21:28,Completed,325,100.36.50.114,United States,Virginia,Fairfax,-97.8220,37.7510,4.0,...,Systems Engineering,12/19/2022,Windows,Working Full Time,Average user,Average user,Average user,Yes,Not sure,The goal is to learn as many programming/stati...
25,10/5/2023 9:37,Completed,257,108.51.59.195,United States,Virginia,Burke,-77.2866,38.7851,2.0,...,Civil Engineering,5/30/2021,Windows,Working Full Time,Average user,Some familiarity,Some familiarity,No,Not sure,Learning analytics tool and being good at them
26,10/5/2023 9:36,Completed,657,72.83.246.219,United States,Virginia,Fairfax,-77.2630,38.8605,2.0,...,Electrical and Computer Engineering,12/11/2021,Macbook,Not Working,Average user,Frequent use for projects,Average user,No,Yes,I want to be as a data analyst
27,10/5/2023 10:36,Completed,1750,100.36.118.186,United States,Virginia,Burke,-77.2866,38.7851,4.0,...,Quantity Surveying,5/24/2023,Windows,Not Working,Average user,Frequent use for projects,Average user,Yes,Yes,It is very relevant to my PhD research area an...
28,10/5/2023 11:02,Completed,887,172.58.187.98,United States,Maryland,Baltimore,-76.6949,39.2820,4.0,...,Bachelor Of Engineering,12/30/2021,Windows,Not Working,Average user,Average user,Average user,Yes,Yes,Learn how to handle large amount structured an...
29,10/5/2023 11:17,Completed,180,72.196.230.201,United States,Virginia,Springfield,-77.2333,38.7438,2.0,...,Computer Science,12/15/2021,Macbook,Not Working,Average user,Average user,Frequent use for projects,Yes,Yes,To become a good Data Analyst and work for top...
30,10/5/2023 12:52,Completed,392,108.18.111.204,United States,Virginia,Lorton,-77.2060,38.6911,4.0,...,Bs Accounting,5/1/2021,Windows,Working Full Time,Little/none,Some familiarity,Some familiarity,Yes,Yes,Get a better understanding of the granularity ...
31,10/5/2023 12:56,Incomplete,192,71.191.72.223,United States,Virginia,Burke,-77.2866,38.7851,2.0,...,Bachelor Of Engineering,12/21/2021,Both,Not Working,Average user,Frequent use for projects,Frequent use for projects,No,Yes,Not Responded
32,10/5/2023 13:52,Completed,277,184.191.72.8,United States,Virginia,Falls Church,-77.1425,38.8472,2.0,...,Criminology Law And Soci,12/18/2021,Windows,Working Full Time,Average user,Some familiarity,Some familiarity,No,No,Learn how data analytics works
33,10/5/2023 15:34,Completed,119,141.156.160.243,United States,Virginia,Fairfax,-97.8220,37.7510,4.0,...,Economics,5/15/2022,Windows,Working Full Time,Average user,Average user,Average user,No,No,Advance my career in data science
34,10/5/2023 15:41,Completed,149,71.206.51.121,United States,Maryland,Frederick,-77.2758,39.4624,2.0,...,Finance,12/12/2022,Windows,Not Working,Some familiarity,Some familiarity,Some familiarity,No,Not sure,Getting a good job
35,10/5/2023 17:58,Completed,285,129.174.252.234,United States,Virginia,Fairfax,-77.3375,38.8357,4.0,...,Psychology,12/20/2021,Windows,Working Full Time,Some familiarity,Little/none,Little/none,No,Not sure,to use the skills at work.

## Part 3

In [773]:
c_dataframe = pd.read_csv('cleaned_580SurveyCleanupFinal.csv')

In [775]:
c_dataframe.describe()

,Duration (Seconds),Latitude,Longitude,Q1,Q3,Q4
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,7571.027778,-80.093406,38.562475,2.888889,27.083333,67.057143
std,28292.029740,7.151399,1.101628,1.007905,6.486800,4.863525
min,40.000000,-97.822000,32.778700,2.000000,22.000000,52.000000
25%,171.500000,-77.374475,38.730625,2.000000,23.000000,66.000000
50%,263.000000,-77.286600,38.835700,2.000000,25.000000,67.028571
75%,537.500000,-77.226325,38.931100,4.000000,28.000000,70.000000
max,128253.000000,-76.557000,39.462400,4.000000,55.000000,75.000000

In [802]:
print("Total Rows = ", len(c_dataframe.index))
print("Total Columns = ", len(c_dataframe.columns))
print("-------------------------------")

for i in range(1,15):
    col = 'Q'+str(i)
    print("\nFor Question Number ", i,":")
    print("\nUnique Values = ", c_dataframe[col].unique())
    print("\nTotal Values = ", c_dataframe[col].value_counts())
    print("\nMode = ", c_dataframe[col].mode())
    print("\nDescription = ")
    print(c_dataframe[col].describe())
    print("-------------------------------")

Total Rows =  36
Total Columns =  24
-------------------------------

For Question Number  1 :

Unique Values =  [4. 2.]

Total Values =  Q1
2.0    20
4.0    16
Name: count, dtype: int64

Mode =  0    2.0
Name: Q1, dtype: float64

Description =
count    36.000000
mean      2.888889
std       1.007905
min       2.000000
25%       2.000000
50%       2.000000
75%       4.000000
max       4.000000
Name: Q1, dtype: float64
-------------------------------

For Question Number  2 :

Unique Values =  ['Female' 'Male' 'Prefer not to answer' 'NonBinary']

Total Values =  Q2
Male                    18
Female                  16
Prefer not to answer     1
NonBinary                1
Name: count, dtype: int64

Mode =  0    Male
Name: Q2, dtype: object

Description =
count       36
unique       4
top       Male
freq        18
Name: Q2, dtype: object
-------------------------------

For Question Number  3 :

Unique Values =  [23 24 40 26 30 25 31 22 27 28 35 55]

Total Values =  Q3
23    8
25    6
24    5
26    3
28    3
40    2
30    2
22    2
27    2
31    1
35    1
55    1
Name: count, dtype: int64

Mode =  0    23
Name: Q3, dtype: int64

Description =
count    36.000000
mean     27.083333
std       6.486800
min      22.000000
25%      23.000000
50%      25.000000
75%      28.000000
max      55.000000
Name: Q3, dtype: float64
-------------------------------

For Question Number  4 :

Unique Values =  [63.         59.         70.         66.         67.05714286 52.
 71.         69.         67.         72.         68.         60.
 74.         65.         75.         61.         64.         56.
 73.        ]

Total Values =  Q4
70.000000    5
66.000000    5
67.000000    5
71.000000    3
68.000000    3
72.000000    2
74.000000    1
56.000000    1
64.000000    1
61.000000    1
75.000000    1
65.000000    1
63.000000    1
60.000000    1
59.000000    1
69.000000    1
52.000000    1
67.057143    1
73.000000    1
Name: count, dtype: int64

Mode =  0    66.0
1    67.0
2    70.0
Name: Q4, dtype: float64

Description =
count    36.000000
mean     67.057143
std       4.863525
min      52.000000
25%      66.000000
50%      67.028571
75%      70.000000
max      75.000000
Name: Q4, dtype: float64
-------------------------------

For Question Number  5 :

Unique Values =  ['Taiwan' 'India' 'South Korea' 'United States' nan 'Pakistan' 'China'
 'Uzbekistan' 'Romania' 'Ethiopia' 'Nigeria' 'United States And Pakistan'
 'Vietnam']

Total Values =  Q5
India                         10
United States                  9
Uzbekistan                     3
Taiwan                         2
China                          2
Nigeria                        2
South Korea                    1
Pakistan                       1
Romania                        1
Ethiopia                       1
United States And Pakistan     1
Vietnam                        1
Name: count, dtype: int64

Mode =  0    India
Name: Q5, dtype: object

Description =
count        34
unique       12
top       India
freq         10
Name: Q5, dtype: object
-------------------------------

For Question Number  6 :

Unique Values =  ['Economics' 'Finance' 'Computer Applications' 'Business Management'
 'Economics With Finance' 'Business in Technology' 'Computer Engineering'
 'Biology' 'Computer Science and Engineering' 'Management' 'Engineering'
 'Accounting And Isom' 'Statistics' 'Computer Science'
 'Mathematics & Statistics' 'Systems Engineering' 'Civil Engineering'
 'Electrical and Computer Engineering' 'Quantity Surveying'
 'Bachelor Of Engineering' 'Bs Accounting' 'Criminology Law And Soci'
 'Psychology']

Total Values =  Q6
Economics                              8
Computer Science                       3
Finance                                3
Economics With Finance                 2
Bachelor Of Engineering                2
Criminology Law And Soci               1
Bs Accounting                          1
Quantity Surveying                     1
Electrical and Computer Engineering    1
Civil Engineering                      1
Systems Engineering                    1
Mathematics & Statistics               1
Accounting And Isom                    1
Statistics                             1
Engineering                            1
Management                             1
Computer Science and Engineering       1
Biology                                1
Computer Engineering                   1
Business in Technology                 1
Business Management                    1
Computer Applications                  1
Psychology                             1
Name: count, dtype: int64

Mode =  0    Economics
Name: Q6, dtype: object

Description =
count            36
unique           23
top       Economics
freq              8
Name: Q6, dtype: object
-------------------------------

For Question Number  7 :

Unique Values =  ['12/31/2021' '5/1/2021' '6/1/2022' '1/1/2021' 'Not responded' '7/15/2022'
 '12/15/2021' '5/1/2022' '5/31/2021' '8/26/2021' '12/25/2021' '5/31/2022'
 '1/12/2021' '12/20/2021' '4/16/2022' '12/18/2021' '5/14/2021'
 '12/19/2022' '5/30/2021' '12/11/2021' '5/24/2023' '12/30/2021'
 '12/21/2021' '5/15/2022' '12/12/2022']

Total Values =  Q7
12/31/2021       3
Not responded    3
5/1/2022         3
12/20/2021       3
12/18/2021       2
12/15/2021       2
5/1/2021         2
5/15/2022        1
12/21/2021       1
12/30/2021       1
5/24/2023        1
12/11/2021       1
5/30/2021        1
12/19/2022       1
5/14/2021        1
1/12/2021        1
4/16/2022        1
5/31/2022        1
12/25/2021       1
8/26/2021        1
5/31/2021        1
7/15/2022        1
1/1/2021         1
6/1/2022         1
12/12/2022       1
Name: count, dtype: int64

Mode =  0       12/20/2021
1       12/31/2021
2         5/1/2022
3    Not responded
Name: Q7, dtype: object

Description =
count             36
unique            25
top       12/31/2021
freq               3
Name: Q7, dtype: object
-------------------------------

For Question Number  8 :

Unique Values =  ['Macbook' 'Windows' 'Not responded' 'Both']

Total Values =  Q8
Windows          22
Macbook           8
Not responded     3
Both              3
Name: count, dtype: int64

Mode =  0    Windows
Name: Q8, dtype: object

Description =
count          36
unique          4
top       Windows
freq           22
Name: Q8, dtype: object
-------------------------------

For Question Number  9 :

Unique Values =  ['Not Working' 'Working Part Time' 'Working Full Time' 'Not responded']

Total Values =  Q9
Not Working          17
Working Full Time    11
Working Part Time     5
Not responded         3
Name: count, dtype: int64

Mode =  0    Not Working
Name: Q9, dtype: object

Description =
count              36
unique              4
top       Not Working
freq               17
Name: Q9, dtype: object
-------------------------------

For Question Number  10 :

Unique Values =  ['Some familiarity' 'Average user' 'Not responded' 'Little/none'
 'Frequent use for projects']

Total Values =  Q10
Average user                 15
Some familiarity             12
Little/none                   4
Not responded                 3
Frequent use for projects     2
Name: count, dtype: int64

Mode =  0    Average user
Name: Q10, dtype: object

Description =
count               36
unique               5
top       Average user
freq                15
Name: Q10, dtype: object
-------------------------------

For Question Number  11 :

Unique Values =  ['Little/none' 'Average user' 'Frequent use for projects'
 'Some familiarity' 'Not responded' 'Fluent/expert']

Total Values =  Q11
Average user                 9
Little/none                  8
Some familiarity             8
Frequent use for projects    7
Not responded                3
Fluent/expert                1
Name: count, dtype: int64

Mode =  0    Average user
Name: Q11, dtype: object

Description =
count               36
unique               6
top       Average user
freq                 9
Name: Q11, dtype: object
-------------------------------

For Question Number  12 :

Unique Values =  ['Some familiarity' 'Little/none' 'Average user' 'Not responded'
 'Frequent use for projects']

Total Values =  Q12
Average user                 15
Some familiarity             10
Little/none                   5
Not responded                 3
Frequent use for projects     3
Name: count, dtype: int64

Mode =  0    Average user
Name: Q12, dtype: object

Description =
count               36
unique               5
top       Average user
freq                15
Name: Q12, dtype: object
-------------------------------

For Question Number  13 :

Unique Values =  ['Yes' 'No']

Total Values =  Q13
No     24
Yes    12
Name: count, dtype: int64

Mode =  0    No
Name: Q13, dtype: object

Description =
count     36
unique     2
top       No
freq      24
Name: Q13, dtype: object
-------------------------------

For Question Number  14 :

Unique Values =  ['Yes' 'No' 'Not sure']

Total Values =  Q14
Yes         17
Not sure    10
No           9
Name: count, dtype: int64

Mode =  0    Yes
Name: Q14, dtype: object

Description =
count      36
unique      3
top       Yes
freq       17
Name: Q14, dtype: object
-------------------------------

INSIGHTS:

Q1. Section: 44% of students are from Section 4, while 56% are from Section 2. It is fairly balanced.

Q2. Gender: The majority of students are male (50%), followed by females (44%). A small percentage (3%) preferred not to disclose their gender or identified as non-binary. The gender distribution is almost equal, with a slight male majority.

Q3. Age: The most common age among students is 23 years, with an average age of 27. We have students raning from 22 to 55 years. However, the presence of older students, including a 55-year-old, suggests a mix of traditional and non-traditional students.

Q4. Height: Students' heights range from 52 to 75 inches, with the most common heights being 66, 67, and 70 inches. The average height is about 67 inches.

Q5. Country of Citizenship: India has the highest representation of 29%, followed by the United States 26%. Thereâ€™s a diverse mix with students from 12 different countries, including China, Nigeria, and Romania. The class is highly international and diverse.

Q6. Undergraduate Degree: Economics is the most common one, with diverse fields represented across the cohort, including Computer Science, Finance, and Engineering.

Q7. Expected MS Graduation Date: The most common expected graduation date is December 31, 2021, with other varying dates.

Q8. Type of Laptop: Most students, 61%, use Windows laptops, while 22% use MacBooks. 

Q9. Work Status: Nearly half of the students (47%) are not working, while 31% are employed full-time and 14% part-time.

Q10. Skills in Python: The majority of students (42%) rate themselves as average users of Python, with another 33% having some familiarity.

Q11. Skills in R: A similar distribution is observed for R, with 25% rating themselves as average users and 22% having little or no experience.

Q12. Skills in SQL: SQL skills are also primarily at an average level (42%), with 28% having some familiarity.

Q13. GitHub Usage: Two-thirds of students (67%) do not use GitHub, while 33% do. This is interesting as it suggests little practical experience with version control systems of students.

Q14. Interest in a Data Science Career: Just under half of the students (47%) are interested in a career in Data Science or Data Analytics, with 28% undecided and 25% not interested.